body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb{
    background: rgb(139, 12, 12);
    
}
body::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-button:vertical:decrement{
    background-image: url(../images/arruws_up.png);
    background-repeat: no-repeat;
    background-position: 0;
    cursor: pointer;
}
body::-webkit-scrollbar-button:vertical:increment{
    background-image: url(../images/arruws_down.png);
    background-repeat: no-repeat;
    background-position: 0;
    cursor: pointer;
}

.search-button i.ion-ios-search{
    color: white;
    margin-left: 0;
}
.search-button{
    background:#71838d;
    width: 20px;
    margin-left: -2%;
    height: 26px;
    position: absolute;
}
.search-form input{
    /* margin-top: 4%; */
    padding-left: 20PX;
    padding-right: -20px;
    background:#71838d;
    border: 0;
    color: white;
}
@media (max-width: 400px) {
    .search-form input{
        width: 80px;
    }
}
.search-form input::placeholder{
    color: white;
}
.search-form input:-ms-input-placeholder{
    color: rgb(255, 255, 255);
}
.header-top_area {
    background: #4e6470;
}
.ht-menu ul li a{
    color: white;
}
.header-top_right ul li a{
    color: white;
}
.sub-menu li a span.active_new{
    color: #91151c;
}
.ht-menu ul li ul li{
    background:#4e6470;
    border: 0;
    text-align: center;
}


.minicart-count_area{
    border-right: 0;
}
.div_resp_menu ul li{
    margin-right: -10px;
}
span.item-count{
    font-size: 10px;
}
i.ion-bag{
    font-size: 20px;
}
@media (max-width: 495px) {
    i.ion-bag{
        font-size: 15px;
    }
}
.header-logo_area img{
    float: left;
    /* margin-top: -20px; */
}
.header-logo_area{
    width: 100%;
}
.menu_footer{
    background: #4e6470;
    width: 100%;
}
.header-bottom_area{
    margin-top: 1%;
}
.header-middle_nav{
    padding-bottom: 0%;
}
.menu_footer ul.men_ul li.men_li{
    float: left;
    padding: 0 35px;
}
@media (max-width: 796px) {
    .menu_footer ul.men_ul li.men_li{
        padding: 0 15px;
        font-size: 12px;
    }
}
@media (max-width: 563px) {
    .menu_footer ul.men_ul li.men_li{
        padding: 0 10px;
        font-size: 10px;
    }
}
@media (max-width: 451px) {
    .menu_footer ul.men_ul li.men_li{
        padding: 0 8px;
        font-size: 8px;
    }
}
.menu_footer {
    display: flex;
    align-items: center;
}
.menu_footer ul.men_ul li.men_li a{
    color:white;
}
.menu_footer ul.men_ul li.men_li a:hover{
    color: #90151c;
}
.chis_new{
    height: 34px;
    display: flex;
    align-items: center;
}


.content_new{
    width: 100%;
    /* height: 90px; */
    /* margin-top: -3%; */
    padding-top: 0;
}
.slider_new{
    width: 90%;
}


@media only screen and (max-width: 1300px) {
    .main-nav > ul > li{
        margin-top: -20px;
    }
    .new_responsive_header{
        display: none;
    }
    .new_responsive_header ul li{
        display: block;
    }
    .new_menu_responsive span.span2{
        display: none;
        color: #91151c;
        font-size: 30px;
        margin-left: 1600%;
        cursor: pointer;
    }
    .new_menu_responsive span.span1{
        display: block ;
        color: #91151c;
        font-size: 30px;
        margin-left: 1600%;
        cursor: pointer;
    }
    /* .header-top_area .header-top_right{
        margin-top: 120px !important;
        background: white;
        border: 1px solid #90151c;
        z-index: 9;
        margin-left: 58%;
        padding-bottom: 20px;
    }
    .header-top_area .header-top_right > ul > li{
        display: block !important;
        margin-bottom: -15px !important;
    } */
    .header-top_right ul li a{
        color: #ffffff !important;
    }
    .header-top_right ul li a:hover{
        color: #90151c !important;
    }
    
    }
 .center_menu{
     width: 130%;
 }
 @media only screen and (min-width: 1300px){
 .new_menu_responsive span{
     display: none !important;
 }
 .new_responsive_header{
    display: inline-block!important;
}
}
 a.blle{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: rgb(54, 8, 8);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    margin-left: 20px;
    margin-top: 120px;
 }
 a.active_a_slider{
     background: #00a6ff;
 }
.new_container{
    justify-content: center;
}

.b-i{
    width: 180px;
    height: 70px;
    font-size: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
.b-i:hover{
        color: #b3b3b342;
    }


.whislist_new{
    font-size: 30px;
    color: #df2121;
    cursor: pointer;
    margin-top: 2%;
}
.whislist_new a div span{
    position: absolute;
    top: -13px;
    left: 58%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    font-size: 11px;
    background: #df2121;
    color: white;
}
span.icon_filter{
    font-size: 40px;
    color: #90151c;
    margin-left: 0%;
    margin-right: 5%;
    display: none;
}
span.icon_filter:hover{
    cursor: pointer;
    color: #90151ba9;
}
.new_container_close{
    width: 65%;
    background: #78797a69;
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    cursor: url(../html/modal_whislist/light-close.png ) 16 16, auto;
}
.abc_foot ul li{
    display: inline-block;
    margin-right: 0%;
    height: 22px;
    text-align: center;
    margin-top: 1%;
    background: white;
    width: 6%;
    border: 1px solid #90151c
}
.abc_foot ul li:hover{
    background: #90151c;
    color: white !important;
    cursor: pointer;
}
.abc_foot ul li a:hover{
    background: #90151c;
    color: white !important;
    cursor: pointer;
}


.latest-blog_arrow button.tty-slick-text-next{
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: 80% !important;
    margin-top: 2%;
}
.latest-blog_arrow button.tty-slick-text-prev{
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: -5% !important;
    margin-top: 2%;
}
