.search-button i.ion-ios-search{
    color: white;
    margin-left: 0;
}
.search-button{
    background:#71838d;
    width: 20px;
    margin-left: -2%;
    height: 26px;
}
.search-form input{
    margin-top: 4%;
    padding-left: 20PX;
    padding-right: -20px;
    background:#71838d;
    border: 0;
    color: white;
}
.search-form input::placeholder{
    color: white;
}
.search-form input:-ms-input-placeholder{
    color: rgb(255, 255, 255);
}
.header-top_area {
    background: #4e6470;
}
.ht-menu ul li a{
    color: white;
}
.header-top_right ul li a{
    color: white;
}
.sub-menu li a span.active_new{
    color: #91151c;
}
.ht-menu ul li ul li{
    background:#4e6470;
    border: 0;
    text-align: center;
}


.minicart-count_area{
    border-right: 0;
}
.div_resp_menu ul li{
    margin-right: -10px;
}
span.item-count{
    font-size: 10px;
}
i.ion-bag{
    font-size: 20px;
}
.header-logo_area img{
    float: left;
    margin-top: -20px;
}
.header-logo_area{
    width: 100%;
}
.menu_footer{
    background: #4e6470;
    width: 100%;
}
.header-bottom_area{
    margin-top: 3%;
}
.header-middle_nav{
    padding-bottom: 0%;
}
.menu_footer ul.men_ul li.men_li{
    float: left;
    margin-left: 100px;
}
.menu_footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.menu_footer ul.men_ul li.men_li a{
    color:white;
}
.menu_footer ul.men_ul li.men_li a:hover{
    color: #90151c;
}
.chis_new{
    height: 34px;
    display: flex;
    align-items: center;
}
.content_new{
    width: 100%;
    height: 90px;
    margin-top: -3%;
    padding-top: 0;
}
.slider_new{
    width: 90%;
}


@media only screen and (max-width: 1300px) {
    .main-nav > ul > li{
        margin-top: -20px;
    }
    }
 .center_menu{
     width: 130%;
 }

 a.blle{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: rgb(54, 8, 8);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    margin-left: 20px;
    margin-top: 20px;
 }
 a.active_a_slider{
     background: #00a6ff;
 }
.new_container{
    justify-content: center;
}
.b-i{
    background-repeat: no-repeat;
	background-position: center center;
    background-size: 100%;
    cursor: pointer;
}
.b-i:hover{
    background-repeat: no-repeat;
	background-position: center center;
    background-size: 100%;
}
.b-i1{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/1-1.jpeg);
    }
.b-i1:hover{
    background-image: url(../images/brand/1-2.jpg);
}
.b-i2{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/2-1.png);
    }
.b-i2:hover{
    background-image: url(../images/brand/2-2.png);
}
.b-i3{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/3-1.png);
    }
.b-i3:hover{
    background-image: url(../images/brand/3-2.png);
}
.b-i4{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/4-1.png);
    }
.b-i4:hover{
    background-image: url(../images/brand/4-2.png);
}
.b-i5{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/5-1.png);
    }
.b-i5:hover{
    background-image: url(../images/brand/5-2.png);
}
.b-i6{
    width: 180px;
    height: 70px;
    background-image: url(../images/brand/6-1.png);
    }
.b-i6:hover{
    background-image: url(../images/brand/6-2.png);
}

