.news_static{
    float: right;
    position: sticky;
    top:16%;
    z-index: 9;
    width: 15%;
    height: 420px;
    border: 1px solid #90151c;
    margin-right: 5%;
    margin-top: 5%;
    background: #f5f2f2;
}
.content_menu_form a{
    cursor: pointer;
    display: block;
    text-align: center;
    /* background: #90151b; */
    color: rgb(0, 0, 0) !important;
    font-size: 15px;
    border: 1px solid #90151c;
    margin-top: 5%;
}
.content_menu_form a:hover{
    border: 1px solid #000000;
    color: #90151c !important;
}
.team-area a.link_create{
    color: #90151c;
    font-size: 20px;
    font-family: "Open Sans";
}
.team-area a.link_create:hover{
    color: #000000;
}
h4.title_buscar{
    margin-top: 5%;
}
.Historia_container p.history{
    font-size: 20px;
    line-height: 34px;
    font-family: "Open Sans";
}
.Historia_container{
    width: 70%;
    margin-left: 10%;
}
.team_area_history{
    margin-right: 5%;
}
a.active1{
    background: #d8cea3;
}
.container_equipo{
    display: none;
}
.container_historia{
    display: none;
}
.container_politica_editorial{
    display: none;
    min-width: 800px;
}
.container_proceso_editorial{
    display: none;
}
.img-hover_effect a img.team_new{
    height: 225px;
    border-radius: 50%;
}